body{
    margin: 0;
}

#containerTestWeb{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#innerDiv1TestWeb, #innerDiv2TestWeb, #innerDiv3TestWeb{
    width: 33%;
    height: 23.5rem;
    min-width: 300px;
    border: 1px solid white;
    background-color: #120f0f;
    color: white;
    border-radius: 0.5rem;
    margin-top: 0.25rem;
    /* overflow: auto; */
}

#innerDiv1TestWeb #p1TestWeb, #innerDiv2TestWeb #p2TestWeb, #innerDiv3TestWeb #p3TestWeb{
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
    background-color: #1999ff;
    margin: 0;
    border-radius: 0.5rem 0.5rem 0 0;
}

#innerDiv1TestWeb #inp1TestWeb, #innerDiv2TestWeb #inp2TestWeb, #innerDiv3TestWeb #inp3TestWeb{
    width: 98%;
    height: calc(100% - 2.1rem);
    background-color: #120f0f;
    color: white;
    border: none;
    border-radius: 0 0 0.5rem 0.5rem;
}

#saveChangeTestWeb{
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirmChangeTestWeb{
    width: 8rem;
    height: 2rem;
    background-color: #4c4c4c;
    color: white;
    text-align: center;
    margin-top: 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

#confirmChangeTestWeb:hover{
    background-color: #2b2626;
}

#mainTestWeb{
    width: 100%;
}